html {
  background: url(img/background.jpg) no-repeat center fixed;
  background-size: cover;
}

body {
  background-color: rgba(255, 255, 255, 0.8);
  width: 600px;
  text-align: center;
  border-radius: 25px;
  border: purple solid;
  margin: 45px auto;
  padding: 30px auto;
  font-family: "Montserrat", sans-serif;
}

a {
  color: white;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

a:hover {
  color: yellow;
  transition: 1s;
  text-decoration: underline;
}

hr {
  width: 300px;
}

div {
  background-color: purple;
  padding: 30px 60px;
  color: white;
}

button {
  background-color: green;
  color: white;
  padding: 5px 10px;
  height: 35px;
  font-size: 20px;
  border: 1px solid white;
}

.image {
  width: 50px;
  margin: 0px 5px;
}
